#weather {
    padding: 20px;
    width: 260px;
    border: 1px solid #dbd9d8;
    background: #fff;
    box-sizing: content-box;
}
#weather * {
    box-sizing: content-box;
}
#weather .location h1 {
    margin: 0;
    font-size: 22px;
    color: #323232;
}
#weather .location span {
    display: block;
    margin: 5px 0 0 0;
    font-size: 12px;
    color: #928b8a;
}
#weather .current {
    overflow: auto;
}
#weather .current img {
    float: left;
    width: 80px;
    height: 80px;
}
#weather .current .temp {
    float: left;
    margin: 25px 0 0 10px;
    font-size: 60px;
    font-weight: bold;
    color: #006fbb;
}
#weather .current .conditions {
    clear: both;
    font-size: 14px;
    color: #8e8786;
}
#weather .current .conditions span {
    color: #323232;
}
#weather .forecast {
    width: 260px;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 1px solid #dbd9d8;
    overflow: hidden;
}
#weather .forecast li {
    float: left;
    margin: 0 0 0 15px;
    width: 40px;
    list-style-type: none;
    text-align: center;
}
#weather .forecast li:first-child {
    margin: 0;
}
#weather .forecast li .day {
    display: block;
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: #f10055;
}
#weather .forecast li img {
    width: 40px;
    height: 40px;
}
#weather .forecast li .high {
    display: block;
    margin: 5px 0 0 0;
}
#weather .forecast li .low {
    display: block;
    margin: 5px 0 0 0;
    color: #8e8786;
}
.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background: #161616;
	padding: 8px 10px;
	color: #fff;
}